
* {
  margin: 0;
  padding: 0;
}

header {
  padding: 2em;
  background: #116586;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  height: 600px;
}

.left_page {
  width: 15%;
}

.left_page h1 {
  margin: 10px;
}

.left_page ul {
  list-style: none;
}

.left_page ul a {
  padding: 10px;
  display: block;
  background: rgb(191, 191, 213);
  border: 3px solid rgb(82, 93, 121);
}

.body_page {
  width: 65%;
  background: rgba(172, 177, 206, 0.482);
}

.body_page h1 {
  font-size: 2em;
  margin: 15px;
}

.right_page {
  width: 15%;
}

.right_page h1 {
  margin: 10px;
  display: block;
}

.right_page img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

footer {
  text-align: center;
  background: rgb(57, 77, 150);
  color: rgb(115, 128, 201);
  font-size: 20px;
}